{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des commentaires</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Informations</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in pagination.data %}
                <tr>
                    <td style="width: 10vw;">{{comment.createdAt | date('d/m/Y à H:i')}}</td>
                    <td style="width: 80vw;">
                        <p class="bg-secondary text-white py-2"><img src="{{comment.author.picture}}" alt="Avatar de {{comment.author.fullName}}" class="avatar avatar-mini mr-2 ml-2">
                        {{comment.author.fullName}} a donné {% include 'partials/rating.html.twig' with {'rating': comment.rating} %} à l'annonce <strong>{{comment.ad.title}}</strong></p>
                        {{comment.content | raw}}
                    </td>
                    <td style="width: 10vw;">
                        <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger" onclick="return confirm(`Etes vous sur de vouloir supprimer le commentaire de {{comment.author.fullName}} ?`)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}